<html ng-app="mancalaApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="https://use.fontawesome.com/8265e51e6d.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>
<body ng-controller="MainController">
  <h1 class="text-center">Mancala!</h1>
  <div class="users">
    <div class="player player-1" ng-class="{'active': !opponentsMove}">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div class="player player-2" ng-class="{'active': opponentsMove}">
      <i class="fa fa-user-secret" aria-hidden="true"></i>
    </div>
  </div>
  <div class="board">
    <div class="bucket-wrapper">
      <div class="buckets">
        <div class="bucket" data-index="{{bucket.index}}" ng-class="{ 'home-store': bucket.homeStore, 'opponent-store': bucket.opponentStore, 'opponent-move': opponentsMove }" ng-repeat="bucket in homeBuckets" ng-click="homeMove(bucket.index)">
          <div class="count count-bottom">{{bucket.count}}</div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
  <script src="scripts.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/controllers/MainController.js"></script>
</body>
</html>